@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer theme {
  :root {
    --background: 25 100% 99%;
    --foreground: 25 5% 4%;
    --foreground-secondary: 0 0% 34%;

    --popover: 25 30% 96%;

    --outline: 25 5% 70%;
    --accent: 25 100% 55%;
    --accent-muted: 25 100% 38%;

    --destructive: 0 90% 60%;
    --success: 125 90% 65%;
  }

  [data-theme="dark"] {
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;
    --foreground-secondary: 0 0% 60%;
    --outline: 0 0% 25%;
  }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-foreground-secondary: hsl(var(--foreground-secondary));

  --color-accent: hsl(var(--accent));
  --color-accent-muted: hsl(var(--accent-muted));

  --color-outline: hsl(var(--outline));
  --color-popover: hsl(var(--popover));
  --color-destructive: hsl(var(--destructive));
  --color-success: hsl(var(--success));

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1.25rem; /* 20px */
  --text-lg: 1.5rem; /* 24px */
  --text-xl: 2rem; /* 32px */
  --text-2xl: 2.5rem; /* 40px */
  --text-3xl: 3rem; /* 48px */

  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 100px;

  --radius-sm: 8px;
  --radius-md: 16px;

  --font-mono: "Fragment Mono", monospace;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-dm-sans), sans-serif;
    font-size: var(--text-sm);
  }

  li {
    list-style: none;
  }
}
